body{
    background-color: beige;
    font-size: 45px;
    font-family: Roboto Condensed, sans-serif;/*Aplicando uma font do GoogleFonts*/ 
}

/* Mudando cor do elemento relacionado a Div Bio*/
.bio p{
    font-style: italic;
    color: rgb(13, 167, 194);
}

/*Mudando as cores do elementos da lista separadamente com classes*/
.hab1{
    color: red;
    text-decoration: underline;
    font-style: italic;
}

.hab2{
    color: rgb(24, 93, 20);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hab3{
    color: rgb(24, 8, 126);
    font-weight: bold;
    font-style: italic;
}
